
NEXT_PUBLIC_API_URL=http://localhost:3001
DATABASE_URL= long pooler url

NEXT_PUBLIC_SUPABASE_URL= short db url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY= publishable key

NEXT_PUBLIC_CLOUD_NAME=
NEXT_PUBLIC_CLOUD_PRESET=

CLOUD_API_KEY=
CLOUD_API_SECRET=
CLOUDINARY_URL=cloudinary://CLOUD_API_KEY:CLOUD_API_SECRET@NEXT_PUBLIC_CLOUD_NAME
